 /* tr,td{
    border: 1px solid black;
    height: 20px;
    width: 20px;
    background-color: rgb(28, 231, 28);

} */







div{
    border: 1px solid black;
    height: 100px;
    margin: 10px;
    background-color: green;
    display: inline-block;
    width: 9%;
    font-size: x-large;

}


div:nth-child(6n+4),
div:nth-child(6n+5),
div:nth-child(6n+6)
{
  background: blue;
}

 